body {
    margin-top: 25vh;
}
#judul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    left: 120px;
    
}

#tombol {
    position: relative;
    left: 200px;
}
#register {
    position: relative;
    margin-top: 20px;
    left: 130px;
}
